@import '~@angular/material/theming';
// Theme configuration
$primary: mat-palette($mat-blue, 800, 500, 900);
$accent:  mat-palette($mat-blue, A200, A100, A400);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

// Custom colors
$custom-colors: (
  title: #3f51b5,
  sub-title: #3f51b5,
  snack-text: lightgrey,
  link: #3f51b5,
  mat-icon: #2671cc,
  sidenav-text-selected: #2671cc,
  sidenav-selected: #e8f0fe,
  sidenav-deselected: grey,
  accordion-expanded: #e8f0fe,
  label: #737373
);
$theme: map-merge($theme, (custom-colors: $custom-colors));
